<form>
    <div class="mb-3">
        <label for="username" class="form-lable">User Name</label>
        <input type="text" [(ngModel)]="userName" class="form-control" name="username">
    </div>
    <div class="mb-3">
        <label for="emailid" class="form-lable">EmailId</label>
        <input type="text" [(ngModel)]="emailId" class="form-control" name="emailid">
    </div>
    <div class="mb-3">
        <label for="phonenumber" class="form-lable">Phone Number</label>
        <input type="text" [(ngModel)]="phoneNumber" class="form-control" name="phonenumber">
    </div>
    <div class="mb-3">
        <label for="address" class="form-lable">Address</label>
        <input type="text" [(ngModel)]="address" class="form-control" name="address">
    </div>
    <button (click)="AddUser()" class="btn btn-primary" *ngIf="user.userId==0">Add</button>
    <button (click)="UpdateUser()" class="btn btn-primary" *ngIf="user.userId!=0">Update</button>
</form>