<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="ms-5 collapse navbar-collapse container-fluid" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/department" routerLinkActive="active" ariaCurrentWhenActive="page">Department</a>
      </li>
    </ul>
  </div>  
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>